.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapButton {
  text-align: right;
}

.ul {
  margin: 3rem 0;
}

.ul li {
  margin: 0.75rem 0;
}

.values {
  font-size: 2rem;
}

.invisible {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
}
