.containerCard {
  height: 100vh;
  max-width: 1550px;
  margin: 0 auto;
}
.wrapButton {
  text-align: right;
  margin-top: 2rem;
}

.productDescription {
  max-width: 375px;
}
.cardType {
  text-transform: capitalize;
  font-size: 1em;
}
.cardName {
  font-weight: 300;
  font-size: 2rem;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column-reverse;
  padding: 3em 0;
}
.productDescription {
  padding: 0 1em;
}

@media only screen and (min-width: 480px) {
  .main {
    padding: 0;
  }
  .cardType {
    font-size: 1.5em;
  }
  .cardName {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 967px) {
  .productDescription {
    position: absolute;
    top: 16vh;
    background-color: #4b00820f;
    border-radius: 0.5em;
    padding: 1.1em;
    box-sizing: content-box;
  }
}

@media only screen and (min-width: 968px) {
  .main {
    padding: 2em;
    height: 100vh;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1150px) {
  .main {
    padding: 4em;
  }
}
